.navBar {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: +1;
}
.navBar h1 {
  color: rgb(4, 130, 248);
}
.navBar h1 span {
  color: rgb(3, 3, 126);
}
.navIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navIcon span {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 30px;
  align-items: center;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0.4em;
  cursor: pointer;
}
.content {
  position: absolute;
  top: 30%;
  left: 8%;
}
.content h1 {
  position: relative;
  font-size: 2em;
  font-weight: 300;
  color: #fff;
  width: 50%;
  margin-bottom: 2em;
  letter-spacing: 0.1em;
  text-shadow: 5px 4px 6px rgba(0, 0, 0, 0.4);
}

.content button {
  width: 10em;
  padding: 1em 0.8em;
  border-radius: 10px;
  border: none;
  color: #fff;
  background-color: rgb(4, 130, 248);
  box-shadow: 0 0.3em 0.5em rgb(0,0,0,0.2);
  cursor: pointer;
}
@media (max-width: 850px) {
  .content {
    top: 20%;
  }
  .content h1 {
    font-size: 1.5em;
    width: 50%;
    margin-bottom: 1.8em;
  }

  .content button {
    width: 10em;
    padding: 0.8em 0.4em;
    border-radius: 10px;
  }
}
@media (max-width: 550px) {
    .navBar {
        position: absolute;
        top: 2%;
        left: 3%;
    }
  .content {
    top: 15%;
    left: 10%;
  }
  .content h1 {
    font-size: 1em;
    width: 50%;
  }
  .content button {
    width: 8em;
  }
}
@media (max-width: 420px) {

.content h1 {
  font-size: 1em;
  width: 60%;
}
.content button {
  width: 8em;
}
}
@media (min-width: 1400px) {
  .content {
    top: 35%;
  }
  .content h1 {
    font-size: 2.3em;
    width: 50%;
  }
  .content button {
    width: 12em;
  }
}