.LinkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navLink {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 0 4em;
}
.navLink .type {
  color: #000;
  margin-right: 1em;
  font-size: 1.8em;
  font-weight: 400;
}
.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1em;
}
.tags .tagLink {
  text-decoration: none;
  font-size: 1em;
  text-align: center;
  width: 8em;
  cursor: pointer;
  padding: 0.6em 0.9em;
  margin: 0.5em;
  border: 2px solid rgb(165, 227, 247);
  color: #000;
  border-radius: 10px;
}
.activeLink{
  background-color: rgb(165, 227, 247);
}
/* .tagLink:hover {
  background-color: rgb(165, 227, 247);
  color: #fff;
} */
.filterContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.filterCard {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.changeBg {
  background-color: rgb(4, 130, 248);
  color: #fff;
}
@media (max-width: 850px) {
  .navLink {
    flex-direction: column;
  }
}
@media (max-width: 550px) {
  .navLink {
    margin-top: 10%;
  }
}
